/* @import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap'); */


/* .home-section {
    background-color: #f5e6e8; /* Set your desired background color 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; 
  } */
  @font-face {
    font-family: 'Electrolize';
    src: url('./fonts/Electrolize-Regular.ttf') format('truetype');
    /* Add additional font formats if available (e.g., woff, woff2) */
    /* You can include different font weights and styles if needed */
    font-weight: normal;
    font-style: normal;
  }

  .home-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: var(--image-gradient), url(./Assets/home-bg.jpeg);
    font-family: 'Electrolize', sans-serif;
    
    /* background-image: linear-gradient(to bottom, #080808, #030404); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    padding-bottom: 30px !important;
    padding-top: 30px !important;

  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .polaroid-wrapper {
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
  }
  
  .polaroid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .home-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .polaroid-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: rgb(1, 1, 1);
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Typewriter__wrapper {
    /* font-size: 2em !important; */
    /* font-family: 'Special Elite', monospace; */
    font-family: 'Electrolize', sans-serif;

    color: rgba(252, 249, 249, 0.904);
    font-weight: 500 !important;
  }
  .Typewriter__cursor {
    /* font-size: 2.4em !important; */
    color: rgba(247, 245, 245, 0.904);
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }


  /* @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */


html {
    --section-background-color: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.582),
      rgba(12, 8, 24, 0.904)
    );
  
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(14, 13, 13, 0.678),
      rgba(5, 5, 5, 0.863)
    );
  
    --imp-text-color: #071722;
  }

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  


  

  .home-logo{
    width: 350px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(250, 247, 247, 0.3);
    /* transform: rotate(-5deg); */
  }

  .home-header {
    padding-top: 80px !important;
  }

  .home-content {
    padding: 9rem 0 2rem !important;
    color: rgb(4, 4, 4);
    text-align: left;
    
  }

  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
    /* font-family: 'Pacifico',cursive; */
    /* font-family: 'Special Elite', monospace; */
    font-family: 'Electrolize', sans-serif;
    font-weight:lighter;
    color:rgba(253, 250, 250, 0.904);
    
  }
  
  .heading-name {
    font-size: 3.5em !important;
    padding-left: 45px !important;
    /* font-family: 'Pacifico',cursive; */
    /* font-family: 'Special Elite', monospace; */
    font-family: 'Electrolize', sans-serif;

    color:rgba(252, 250, 250, 0.904);
    
  }

  .navbar {
    font-family: 'Electrolize', sans-serif;
    background-color: #000; /* Set your desired background color */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff; /* Set your desired text color */
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .nav-link:hover {
    color: #ffcc00; /* Set your desired hover color */
  }
  

  /* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
    background-color: #1b1a2ea9 !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
  }
  
  .navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
  }
  
  .navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .navbar-toggler span {
    display: block !important;
    background-color: #be50f4 !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0 !important;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
    transition: transform 0.35s ease-in-out !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 1rem 2rem !important;
      font-size: 1.4rem !important;
      background-color: #181a27 !important;
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
  }
  .navbar-brand {
    color: rgb(250, 250, 250) !important;
  }
  
  .logo {
    height: 1.4em !important;
    width: 2.5em !important;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  
  .nav-link {
    padding: 0.8rem 1rem !important;
  }
  
  @media (max-width: 767px) {
    .nav-link {
      padding: 0.7rem 1rem !important;
    }
  }
  
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
  }
  
  .navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
  }
  
  .navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #aaa0cf;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-nav .nav-item a:hover::after {
    width: 100%;
  }
  


  .tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgba(50, 8, 150, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(48, 15, 159, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }
  
  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px !important;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(246, 245, 248, 0.883) !important;
  }
  .tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }
  

  .skills-section {
    /* position: relative;
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    z-index: -1;
    background-image: var(--image-gradient), url(./Assets/home-bg.jpeg);
    font-family: 'Electrolize', sans-serif;
    
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-size: cover;
  
    padding-bottom: 30px !important;
    padding-top: 30px !important; */ 

  }

  .shooting-star {
    position: absolute;
    top: 50%;
    left: -100px;
    width: 20px;
    height: 20px;
    background-color: #fff; /* Set the color of the shooting star */
    transform: rotate(45deg);
    animation: shootingStar 5s linear infinite;
  }
  
  @keyframes shootingStar {
    0% {
      transform: rotate(45deg) translate(-100px, -50%);
    }
    100% {
      transform: rotate(45deg) translate(calc(100vw + 100px), -50%);
    }
  }


  /* --------- */
/* Resume */
/* --------- */

.resume-section {
    position: relative !important;
    padding-top: 110px !important;
    padding-bottom: 30px !important;
    color: white !important;
    font-family: 'Electrolize', sans-serif;
    background-image: var(--image-gradient), url(./Assets/home-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
  }
  
